/* File: src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffffff;      /* Light Mode Background */
  --color-secondary: #f7f9f9;    /* Light Mode Cards */
  --color-accent: #EBCD3E;      /* Default accent color */
  --color-text-primary: #0f1419; /* Light Mode Main Text */
  --color-text-secondary: #536471;
  --color-border: #eff3f4;
}

.dark {
  --color-primary: #000000;      /* Dark Mode Background */
  --color-secondary: #1A1A1A;    /* Dark Mode Cards */
  --color-text-primary: #e7e9ea; /* Dark Mode Main Text */
  --color-text-secondary: #71767b;
  --color-border: #2f3336;
}